<div class="mx-auto">
  <%= form_with(model: resource, url: registration_path(resource_name)) do |f| %>
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
      <legend class="fieldset-legend">Sign Up</legend>

      <%= f.label :username, class: "label" %>
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "input #{f.object.errors.include?(:username) ? "input-error" : "" }" %>
      <%= render "devise/shared/field_error_messages", object: f.object, field: :username %>

      <%= f.label :password, class: "label mt-3" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "input #{f.object.errors.include?(:password) ? "input-error" : "" }" %>
      <% unless f.object.errors.include?(:password) %>
        <em class="label">(<%= resource.class::PASSWORD_LENGTH.min %> characters minimum)</em>
      <% end %>
      <%= render "devise/shared/field_error_messages", object: f.object, field: :password %>

      <%= f.label :password_confirmation, class: "label mt-3" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input #{f.object.errors.include?(:password_confirmation) ? "input-error" : "" }" %>
      <%= render "devise/shared/field_error_messages", object: f.object, field: :password_confirmation %>

      <%= f.submit "Sign up", class: "btn btn-primary text-white mt-4" %>
    </fieldset>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
