<div class="card card-border rounded-xl shadow-sm">
  <div class="card-body gap-8">
    <div class="card-title leading-none">
      Sign In
    </div>
    <%= form_with(scope: :user, url: session_path(resource_name), class: "card-actions gap-7 *:space-y-3 *:w-full") do |f| %>
      <div>
        <%= f.label :username, class: "block text-sm font-medium" %>
        <%= f.text_field :username, required: true, autofocus: true, autocomplete: "username", class: "input w-full outline-none" %>
      </div>

      <div>
        <%= f.label :password, class: "block text-sm font-medium" %>
        <%= f.password_field :password, required: true, autocomplete: "current-password", class: "input w-full outline-none" %>
      </div>

      <div>
        <%= f.submit "Sign in", class: "btn btn-primary text-white w-full" %>
        <p class="text-neutral-500 text-sm leading-normal text-center">
          Don't have an account?
          <%= link_to "Sign up", new_registration_path(resource_name), class: "text-primary hover:text-primary/80 hover:underline" %>
        </p>
      </div>
    <% end %>
  </div>
</div>
